body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('books-2602030_1280.jpg'); /* Use the relative path to the image */
    background-size: cover;
    background-position: center;
}

h1 {
    color: white; /* Ensure the heading is readable */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional: Add text shadow for better readability */
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

input[type="text"], textarea, input[type="file"] {
    display: block;
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #0056b3;
}

#image-preview {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
}
